.srchbox-container {
    max-width: 900px;
    margin: 0 auto;
    background: #003333;
    color: ghostwhite;
    padding: 25px;
    text-align: center;
    border-radius: 15px;
}
.secondbox {
    background: #00c1ec;
    padding: 25px;
    position: relative;
    margin-bottom: 25px;
}
.top-box .row {
    margin-bottom: 0px;
}
.s-box h5 {
    font-family: arial;
    font-size: 18px;
    text-align: center;
}
.x-box {
    position: relative;
    padding: 25px;
}

a.footerbtn.waves-effect.waves-light.btn.userreegbtn {
    background: #00ccff !important;
    color: #fff !important;
    font-size: 17px !important;
    font-weight:  400;
    text-transform: uppercase !important;
    text-shadow: 0px 2px 4px #b95858b0;
    box-shadow: 0px 2px 4px #867e7e !important;
}

.x-box-container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
.xBox {
    position: relative;
    padding: 15px;
    border: 3px solid #999999;
    border-radius: 15px;
    height: auto;
    overflow: hidden;
} 	
.ttl-row {
    position: relative;
    display: inline-block;
    width: 100%;
    overflow: hidden;
}
.ttl-row h3 {
    font-family: 'Lato', sans-serif;
    color: #666666;
    font-weight: bolder;
    text-transform: capitalize;
    font-size: 52px;
}
.right-txt {
    line-height: 76px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    float: right;
    padding-bottom: 0px;
    color: #00ccff;
    font-size: 111px;
    position: absolute;
    right: 0;
    top: 15px;
}
span.x-left {
    font-size: 52px;
    line-height: 76px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    right: 0;
    padding-bottom: 0px;
    color: #00ccff;
}
.seulement-box {
    font-size: 36px;
    line-height: normal;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    color: #00ccff;
    position: relative;
    top: -20px;
    text-align: right;
    margin-right: 37px;
    overflow: hidden;
    width: calc(100% - 15%) !important;
}

.home-testimonial .client-testi .home-testi-left .testi-grid-view ul li p {
    float: left;
    width: 100%;
    font-size: 17px;
    text-align: left;
    line-height: 25px;
    font-family: 'Lato', sans-serif;
    padding-left: 40px;
    background: url(../images/check-mark.png)no-repeat left 9px;
    color: #666;
    margin-left: 24px;
}
.x-list li.item p {
    width: 100%;
    font-size: 17px;
    text-align: left;
    font-family: 'Lato', sans-serif;
    color: #666;
    margin-left: 25px;
    line-height: normal;
    margin-top: 0px;
    margin-bottom: 5px;
}

.x-list li.item p:before element
{
	    content: "\f00c";
}
.r-text{
	    color: #00ccff;
    font-size: 19px;
    font-weight: 600;
    line-height: 0px;
}
.lbl-left {
    font-size: 16px;
    margin-top: -25px;
}

.list-title {
    position: relative;
    padding: 25px 0px;
}
.list-title h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}
.list-title span {
    color: #00ccff;
}
.list-box ul {
    display: block;
    position: relative;
    text-align: left;
    font-size: 24px;
    font-weight: 400;
    line-height: 51px;
    color: #666;
}
.list-box ul i {
	color: #0cf;
}

.list-box ul li {
    line-height: 65px;
}
.p-text p {
    font-size: 24px;
    font-weight: 400;
    line-height: 39px;
    color: #666;
    padding-left: 35px;
}	
.rendze-box {
    position: relative;
    padding: 25px;
}
.rendze-box i {
    font-size: 100px;
    font-weight: 100;
    color: #00ccff;
    text-shadow: 0px 3px 7px #00000057;
}
.rendze-box span {
    padding: 25px;
    font-size: 22px;
    box-shadow: 0px 1px 7px #0000003d;
    border-radius: 7px;
}

.swt-box {
    margin-bottom: 60px;
    position: relative;
    box-shadow: 0px 2px 7px #0000004a;
}

.swt-box h3 {
    margin: 0 auto;
    text-align: left;
    text-overflow: ellipsis;
    word-wrap: break-word;
    min-height: 150px;
    overflow: hidden;
    height: auto;
    color: #fff;
    font-weight: bold;
}
.box-1 {
    background: #99ccff;
    padding: 50px;
}
.box-2 {
    background: #2a90a6;
    padding: 50px;
}
.box-3 {
    background: #f8d8c1;
    padding: 50px;
}
.box-footer {
    padding: 10px 25px;
}
.box-footer h5 {
    font-weight: bold;
    text-transform: capitalize;
    color: #007390;
}
.box-footer h6 {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 19px;
}
.bottom-box {
    position: relative;
    height: auto;
    background: #EAEDEF;
    padding: 25px;
}
.tagline h4 {
    padding: 15px 0px;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}
.btn-sky {
    background: #00ccff;
    padding: 0px 25px;
    height: auto;
    font-size: 18px;
    letter-spacing: 1px;
    text-shadow: 0px 1px 1px #0000007d;
}
.b-tg{
   font-size: 22px;
    text-align: center;
}

.search-container {
    max-width: 700px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.search-box input[type="search"] {
    background: #fff !important;
    padding-left: 25px !important;
    color: #00677d !important;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    font-size: 18px !important;
}
.search-box input[type=search]::-webkit-input-placeholder {
    color: #8a8a8a;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    font-size: 18px !important;
}

.search-container .row {
    overflow: hidden;
    position: relative;
    margin-bottom: 0px;
}
.btn-search {
    background: #00c1ec;
    height: 3rem;
    width: auto;
    color: #fff;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    font-size: 18px !important;
    text-transform: capitalize;
    text-shadow: 0px 1px 2px #0000003b;
}


.viewmorewbtn {
       background: #51678e;
    height: 42px !important;
    width: 42px !important;
}
a.btn-floating.btn-large.waves-effect.waves-light.viewmorewbtn i {
    line-height:  1;
    font-size:  24px;
}


.mid-box{
    border-left: 3px solid #00c1ec;
    border-right: 3px solid #00c1ec;
}

.sweetbox-container {
    padding: 25px;
}

/*Medai Responsive*/

@media(max-width: 768px){
    .top-box{
        padding-top: 0px;
    }
        .mid-box {
        border-top: 3px solid #00c1ec;
        border-bottom: 3px solid #00c1ec;
        margin: 25px;
        padding: 25px;
        border-left: none;
        border-right:none;
    }
    .right-txt{
        font-size: 65px;
        line-height: 65px;
    }
    .ttl-row h3{
        font-size: 35px;
    }
    .x-box {
        position: relative;
        padding: 10px;
    }
    .xBox {
        margin-bottom: 25px;
    }
    .x-list li.item p
    {
        margin-bottom: 0;
        line-height: 25px;
        font-size: 14px;
        margin-left: 15px;
    }
    span.x-left {
        font-size: 35px;
        line-height: 35px;
        text-align: right;
    }
    .seulement-box {
        font-size: 22px;
        font-weight: 600;
        font-family: 'Lato', sans-serif;
        color: #00ccff;
        position: relative;
        top: -10px;
        text-align: right;
        margin-right: 0px;
        overflow: hidden;
        width: 100% !important;
    }
    .list-detail-conatiner {
        padding: 25px;
        position: relative;
        overflow: hidden;
        padding-bottom: 0px;
    }
    .list-title{
        padding: 0px;
    }
    .list-box ul li {
        line-height: 35px;
        font-size: 14px;
        display: -webkit-box;
    }
    .list-title h3 {
        font-family: 'Lato', sans-serif;
        font-weight: 600;
        font-size: 28px;
    }
    .p-text p {
        font-size: 16px;
        font-weight: 400;
        line-height: 25px;
        color: #666;
        padding-left: 15px;
        text-align: left;
    }
    .rendze-box{
        padding: 0px;
    }
    .rendze-box .valign-wrapper{
        display: block;
        text-align: center;
    }
    .rendze-box span{
        display: block;
    }
    .sweetbox-container {
        padding: 25px;
        position: relative;
    }
    .swt-box{
        margin-bottom: 25px;
    }
    .box-1 {
        padding: 20px;
    }
    .box-2 {
        padding: 20px;
    }
    .box-3 {
        padding: 20px;
    }
    .tagline h4{
        font-size: 25px;
        padding: 0px;
    }

}





















.bubbly-button {
  font-family: 'Helvetica', 'Arial', sans-serif;
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  margin-top: 100px;
  margin-bottom: 60px;
  -webkit-appearance: none;
  appearance: none;
  background-color: #00ccff;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgb(0, 204, 255);
}
.bubbly-button:focus {
  outline: 0;
}
.bubbly-button:before, .bubbly-button:after {
  position: absolute;
  content: '';
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}
.bubbly-button:before {
  display: none;
  top: -75%;
  background-image:radial-gradient(circle, #008caf 20%, transparent 20%), radial-gradient(circle, transparent 20%, #00ccff 20%, transparent 30%), radial-gradient(circle, #008caf 20%, transparent 20%), radial-gradient(circle, #008caf 20%, transparent 20%), radial-gradient(circle, transparent 10%, #00ccff 15%, transparent 20%), radial-gradient(circle, #666666 20%, transparent 20%), radial-gradient(circle, #008caf 20%, transparent 20%), radial-gradient(circle, #00ccff 20%, transparent 20%), radial-gradient(circle, #666666 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}
.bubbly-button:after {
  display: none;
  bottom: -75%;
  /*background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);*/
  background-image: radial-gradient(circle, #51678e 20%, transparent 20%), radial-gradient(circle, #ad7a56 20%, transparent 20%), radial-gradient(circle, transparent 10%, #007390 15%, transparent 20%), radial-gradient(circle, #3a628a 20%, transparent 20%), radial-gradient(circle, #666666 20%, transparent 20%), radial-gradient(circle, #00ccff 20%, transparent 20%), radial-gradient(circle, #f8d8c1 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.bubbly-button:active {
  transform: scale(0.9);
  background-color: #008caf;
  box-shadow:0 2px 25px rgba(0, 140, 175, 0.2);
}
.bubbly-button.animate:before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}
.bubbly-button.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}
