
body{
	font-family: 'Lato', sans-serif;
    color: #666;
    font-size: 17px;
}
nav {
    color:#666666;
    background:#ffffffed !important;
    width: 100%;
    height: 56px;
    line-height: 56px;
    box-shadow: none !important;
}
nav ul li a {
    color: #666666;
    padding: 0 15px;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    font-size: 17px;
    text-transform: capitalize;
}
nav .nav-wrapper {
    position: relative;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.userreegbtn {
    background: transparent !important;
    color: #666 !important;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    font-size: 17px !important;
    text-transform: capitalize !important;
    box-shadow: none !important;
}

.userlogbtn {
    background: #fff !important;
    box-shadow: none !important;
    color: #00c1ec !important;
    font-weight: bold !important;
    text-transform: capitalize !important;
    font-size: 17px !important;
    border: 1.5px #00c1ecc7 !important;
    border-style: inset !important;
    border-radius: 10px !important;
}
button.none-btn {
    background: transparent;
    border: none;
    padding: 25px;
    font-weight: bold;
    line-height: 0;
    color: #666;
    z-index: 0;
}

.sidenav-overlay{
    z-index: 990 !important;
}
.max-width {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
.top-box h4 {
    text-align: left;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    color: #333333;
}
.top-box h5 {
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 15px;
    color: #666666;
    text-align: center;
}
.top-box {
    position: relative;
    padding: 25px;
    padding-bottom: 0;

/* global style sheet */

}

/*==========================home css=====================*/
.homenavwapp
{
	width: 1200px;
	margin: 0 auto;
}
ul#nav-mobile {
    font-weight:  bold;
    color: #666666;
}

ul#nav-mobile li a {
    color:  #666666;
}


a.sidenav-trigger {
    color: #00c1ec;
    padding: 0px 15px;
}



/*Mobile Resposnive*/

@media(max-width: 768px){
        nav .nav-wrapper {
        position: relative;
        height: 100%;
        max-width: 100%;
        margin: 0 auto;
    }
}
/*@media(min-width: 768px){
    .hide-on-med-and-down{
        display: none;
    }
}*/
/*a.waves-effect.waves-light.btn.userreegbtn {
    background:  none;
    box-shadow:  none;
}

a.waves-effect.waves-light.btn.userlogbtn {
    background: none;
    border: 2px solid #03c0e8;
    box-shadow:  none;
    width:  112%;
    color: #00bfe8 !important;
}

*/































.bubbly-button {

      font-size: 1em;
      padding: 1.2rem 2rem;
      -webkit-appearance: none;
      appearance: none;
      background-color: #00bfe8;
      color: #fff;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      position: relative;
      transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
      box-shadow: 0 2px 25px rgba(0, 191, 232, 0.7);
      top: 0;
      margin: 1.7rem 0;


    /*font-size: 1em;
    padding: 0.7rem 2rem;
    -webkit-appearance: none;
    appearance: none;
    background-color: #00bfe8;
    color: #fff;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px rgba(0, 191, 232, 0.7);
    top: 0;
    margin: 1.7rem 0;*/

    /* font-family: 'Helvetica', 'Arial', sans-serif; */
    /*display: block;
    font-size: 1em;
    padding: 0.7rem 2rem;
    margin-top: 100px;
    margin-bottom: 25px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #00ccff;
    color: #fff;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px rgb(0, 204, 255);
    top: 0;*/
}
.bubbly-button:focus {
  outline: 0;
}
.bubbly-button:before, .bubbly-button:after {
  position: absolute;
  content: '';
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}
.bubbly-button:before {
  display: none;
  top: -75%;
  background-image:radial-gradient(circle, #008caf 20%, transparent 20%), radial-gradient(circle, transparent 20%, #00ccff 20%, transparent 30%), radial-gradient(circle, #008caf 20%, transparent 20%), radial-gradient(circle, #008caf 20%, transparent 20%), radial-gradient(circle, transparent 10%, #00ccff 15%, transparent 20%), radial-gradient(circle, #666666 20%, transparent 20%), radial-gradient(circle, #008caf 20%, transparent 20%), radial-gradient(circle, #00ccff 20%, transparent 20%), radial-gradient(circle, #666666 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}
.bubbly-button:after {
  display: none;
  bottom: -75%;
  /*background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);*/
  background-image: radial-gradient(circle, #51678e 20%, transparent 20%), radial-gradient(circle, #ad7a56 20%, transparent 20%), radial-gradient(circle, transparent 10%, #007390 15%, transparent 20%), radial-gradient(circle, #3a628a 20%, transparent 20%), radial-gradient(circle, #666666 20%, transparent 20%), radial-gradient(circle, #00ccff 20%, transparent 20%), radial-gradient(circle, #f8d8c1 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.bubbly-button:active, .bubbly-button:hover, .bubbly-button:focus {
  /*transform: scale(0.9);*/
  background-color: #008caf !important;
  box-shadow:0 2px 25px rgba(0, 140, 175, 0.2);
}
.bubbly-button.animate:before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}
.bubbly-button.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}










/*Input dtylsheet*/
.sellArticle-formBox input[type=text]{
    border: 1px solid #ddd !important;
    padding: 0px 15px !important;
}

.sellArticle-formBox input[type="file"] {
    border: 1px solid #ddd !important;
}
label[for="file-input"] {
  width: 100%;
  font-size: 1em;
  color: #fff;
  opacity: .9;
  font-weight: bold;
}

input[type="file"] {
    cursor: pointer !Important;
    width: calc(100% + 32px);
    margin-bottom: 10px;
}

input[type="file"]::-webkit-file-upload-button {
  background: #9e9e9e;
  border: 0;
  padding: 1em 2em;
  cursor: pointer;
  color: #fff;
}
input[type="file"]::-ms-browse {
  background: #9e9e9e;
  border: 0;
  /*padding: 1em 2em;*/
  cursor: pointer;
  color: #fff;
  border-radius: .2em;
}
input[type="file"]::-webkit-file-upload-button :hover {
  background: #000;
  border: 0;
  padding: 1em 2em;
  cursor: pointer;
  color: #fff;
}